.body {
  color: blue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  color: #00B7FF;
}
footer {
  width: 10px;
  height: 20px;
  color: #00B7FF;
}